<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        
        <!-- Page Heading -->
        <h1 class="my-4">
          <small>Your Ads</small>
        </h1>
      
        <div class="row">
            <% if (prods.length > 0) { %>
              <% for (let product of prods) { %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4"  *ngFor="let products of data">
            <div class="card h-100">
                <span class="badge badge-warning notify-badge"><%= product.category %></span>
              <div class="card-image"  style="background-image: url('<%= product.imageUrl %>')"></div>
              <div class="card-body" >
                <h4 class="card-title"><b>Rs.<%= product.price %></b></h5>
                <p class="card-text"><%= product.title %></p>
                <div class="d-flex justify-content-between">
                    <a class="btn mt-2 btn-secondary" href="/admin/edit-product/<%= product._id %>?edit=true">Edit</a>
                    <form action="/admin/delete-product" method="POST">
                        <input type="hidden" value="<%= product._id %>" name="productId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn mt-2" type="submit">Delete</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% } else { %>
            <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
              <h1>No Products Found!</h1>
            </div>
          <% } %>
          </div>
        <!-- /.row -->
    </div>    

    <%- include('../includes/end.ejs') %>

